@use "src/app/@core/styles/abstracts/media-query" as *;

#new-category-modal {
  border-radius: 2.75rem;

  .new-category-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
  }

  .paragraph {
    margin-bottom: 1.75rem;
  }

  .actions {
    gap: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
  }
}

// #new-category-modal {
//   .test-modal-header {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: justify;
//     -ms-flex-pack: justify;
//     justify-content: space-between;
//     gap: 1.25rem;
//     margin-bottom: 1.25rem;

//     .close-icon-container {
//       cursor: pointer;
//     }

//     h6 {
//       font-family: "Poppins", sans-serif;
//       font-weight: 500;
//       font-size: 1.25rem;
//       font-style: normal;
//       line-height: normal;

//       @include zns-media-query-max(zns-sm)  {
//         font-size: 0.9rem;
//         font-weight: 600;
//       }
//     }
//   }

//   .add-form {
//     // background: lightcoral;f
//     width: 100%;
//     margin-top: 2rem;
//     display: flex;
//     flex-direction: column;

//     p {
//       color: #8b8d97;
//       font-weight: 500;
//       font-family: "Inter", sans-serif;
//       font-size: 1rem;
//     }

//     .cat-form {
//       // border: 1px solid black;
//       width: 100%;
//       border-radius: 0.75rem;
//       padding: 0.8rem;
//       background: #eff1f999;
//       margin-bottom: 1rem;
//       margin-top: 0.5rem;
//       height: 3.25rem;

//       &:hover {
//         border: 0.3px solid grey;
//       }

//       input {
//         border: none;
//         outline: none;
//         background: #eff1f999;
//       }
//     }
//   }

//   .bottom-btn {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     font-size: 1.25rem;
//     margin-top: 1rem;

//     button {
//       width: 11.5rem;
//       height: 3.615rem;
//       border-radius: 0.75rem;
//       gap: 0.1rem;
//     }

//     @media (max-width: 768px) {
//       button {
//         width: 7.5rem;
//         height: 2.8rem;
//         border-radius: 6px;
//       }
//     }
//   }
// }
