@use "src/app/@core/styles/abstracts/media-query" as *;

#webapp {
  .body {
    width: calc(100% - 5rem);
    height: 100%;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all 0.5s ease;
    background: #ffffff;
    padding: 0 0.3rem 3rem 0.3rem;

    @include zns-media-query-max(zns-sm) {
      width: 100%;
      margin-left: 0;
    }
  }

  .body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
  }
}
.mobile-burger {
  position: absolute;
  top: 1rem;
  left: 0.3rem;
  border: 1px solid #161414;
  border-radius: 0.3rem;
  color: #161414;
  opacity: 0.7;

  @include zns-media-query-min(zns-md) {
    display: none;
  }
}
