<section id="new-warehouse">
  <div class="new-warehouse-header">
    <h6 class="zns-heading-6 fw-700 mb-0">Add New WareHouse</h6>

    <div matRipple class="close-icon-container" (click)="closeDialog()">
      <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
    </div>
  </div>

  <div class="paragraph">
    <p class="zns-para-1">WareHouse Information</p>
  </div>

  <form [formGroup]="warehouseForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-12">
        <div class="input-style1 input-md">
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="WareHouse Name"
              formControlName="warehousename"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="col-12">
        <div class="input-style1 input-md">
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="WareHouse Code"
              formControlName="warehouseCode"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="actions">
      <button
        matRipple
        class="btn zns-btn-primary-outline zns-btn-md zns-btn-full mb-4"
        (click)="closeDialog()"
      >
        Cancel
      </button>

      <button
        matRipple
        class="btn zns-btn-primary zns-btn-md zns-btn-full add"
        (click)="addWarehouse()"
      >
        Add
      </button>
    </div>
  </form>
</section>
