@use "../.././../../@core/styles/abstracts/media-query" as *;

// #warehouse {
//   width: 100%;
//   overflow-x: hidden;
//   .cta-container {
//     display: flex;
//     justify-content: flex-end;

//     // @include zns-media-query-max(zns-md) {
//     //  font-size: 1.2rem;
//     // }

//   }

//   .table-header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;

//     .table-title {
//       font-size: 1rem;
//       font-weight: 500;
//       font-family: Inter;
//     }

//     .table-filter {
//       display: flex;

//       .input-width {
//         width: 7.5467rem;
//       }

//       .search {
//         flex-direction: column;
//         align-items: flex-start;
//         flex: 1 0 0;
//       }

//       .filter {
//         align-items: center;
//         flex: 1 0 0;
//       }
//     }
//   }
// }

#warehouse {
  width: 100%;
 

  @include zns-media-query-max(zns-sm) {
    width: 90%;
    margin: 0 auto;
  }

  .cta-container {
    display: flex;
    justify-content: flex-end;

    @include zns-media-query-max(zns-md) {
      .btn {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
      }
    }

    @include zns-media-query-max(zns-sm) {
      .btn {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
      }
    }
  }

  .table-content {
    margin-top: 1rem;
    


    // Add any o

    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .table-title {
        font-size: 1rem;
        font-weight: 500;
        font-family: Inter;
      }

      .table-filter {
        display: flex;

        @include zns-media-query-max(zns-sm) {
          flex-wrap: wrap;
        }

        .input-width {
          width: 7.5467rem;
        }

        .search {
          flex-direction: column;
          align-items: flex-start;
          flex: 1 0 0;
        }

        .filter {
          align-items: center;
          flex: 1 0 0;
        }
      }
    }
  }
  .ng-continer {
    height: 100%;
    @include zns-media-query-max(zns-sm) {
      overflow: auto;
    }

    .table-responsive {
      overflow-x: auto;
    }
  }
}
// .table-container {
//   width: 100%;
//   overflow-x: auto;
// }

// .mat-elevattion-z8 {
//   width: 100%;
//   table-layout: fixed;

//    .mat-column-categoriesName,
//   .mat-column-createdBy,
//   .mat-column-date,
//   .mat-column-updatedBy,
//   .mat-column-updateDate,
//   .mat-column-status,
//   .mat-column-action {
//     .mat-cell {
//       white-space: normal;
//       word-wrap: break-word;
//     }
//   }
// }

// }
