#warehouse {
  width: 100%;
  .cta-container {
    display: flex;
    justify-content: flex-end;
  }
  //   .table-header {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //     .filter-container {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //     }
  //   }
}
