<div class="rv-breadcrumbs">
  <nav>
    <ol class="rv-breadcrumb-items">
      <li
        *ngFor="
          let breadcrumb of breadcrumbs$ | async;
          let last = last;
          let first = first
        "
        [ngClass]="{ active: last }"
      >
        <span class="fw-400" *ngIf="last && !first">{{
          breadcrumb.label
        }}</span>

        <a class="fw-400" *ngIf="first" [routerLink]="breadcrumb.url">
          <span>
            <img src="/assets/icons/home.svg" alt="home page icon" />
          </span>
          <span class="uniq"> /</span>
        </a>

        <a class="fw-400" *ngIf="!last && !first" [routerLink]="breadcrumb.url">
          {{ breadcrumb.label }} <span class="uniq"> /</span>
        </a>
      </li>
    </ol>
  </nav>
</div>
