@use "src/app/@core/styles/abstracts/media-query" as *;

.rv-breadcrumbs {
  .rv-breadcrumb-items {
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem 0.75rem 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #ffffff;
    border-radius: 0.25rem;

    & a {
      text-decoration: none;
      padding-right: 0.1rem;

      @include zns-media-query-max(zns-sm) {
        font-size: 0.9rem;
        padding-right: 0.3rem;
      }
    }
    span {
      padding-left: 0.1rem;

      @include zns-media-query-max(zns-sm) {
        font-size: 0.8rem;
        padding-right: 0.1rem;
      }
    }
    img {
      margin-bottom: 0.2rem;
    }
  }

  .uniq {
    padding-right: 0.6rem;
  }
}
