.rv-forgot-bg {
  background-image: url("/assets/images/auth-backdrop.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .rv-box-container2 {
    background: var(--zns-white);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.44rem 4.75rem;
    margin: 0rem auto;
  }

  .logo {
    margin-bottom: 3.62rem;
    text-align: center;
  }

  .context {
    margin-bottom: 0.5rem;
    
  }

  .email-container {
    width: 100%;
    
  

    button {
      display:flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.75rem;
      margin-bottom: 2rem;
    
    }
  }

//  .back-login {
   
//   }

  // .rv-box2-container {
  //   height: 80%;
  //   width: 27.125rem;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;

  // }

  // .rv-head2-logo {
  //   margin-bottom: 1rem;
  // }
  // .fyp {
  //   // margin-top: 2rem;
  //   font-size: 1.25rem;
  //   width: 25rem;
  //   height: 2rem;

  //   @media only screen and (max-width: 768px) {
  //     width: 20rem;
  //   }
  // }

  // .read {
  //   width: 25rem;

  //   @media only screen and (max-width: 768px) {
  //     width: 20rem;
  //   }
  // }

  // .email-form {
  //   width: 100%;

  //   input {
  //     width: 100%;
  //     margin-bottom: 0.8rem;
  //     height: 3.5625rem;
  //     border-radius: 4px;
  //     border: none;
  //     background: #e3e6ec;
  //     padding: 1rem;
  //   }
  // }

  // button {
  //   width: 100%;
  //   margin-top: 2rem;
  //   border-radius: 12px;
  //   background-color: #2652efe6;

  //   @media only screen and (max-width: 768px) {
  //     margin-top: 1rem;
  //   }
  // }

  // .back-to-login {
  //   position: relative;
  //   display: inline-block;
  //   text-decoration: none;
  //   color: black;
  //   overflow: hidden;

  //   .hover-line {
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 2px;
  //     background-color: #2652efe6;
  //     transform: scaleX(0);
  //     transition: transform 0.3s ease;
  //   }

  //   &:hover .hover-line {
  //     transform: scaleX(1);
  //   }
  // }
}
