@use "src/app/@core/styles/abstracts/media-query" as *;

#rv-header {
  .rv-navbar {
    justify-content: space-between;
    border-bottom: 1px solid #efeff0;
    background: #ffffff3b;

    .page-title {
      @include zns-media-query-max(zns-sm) {
        margin-left: 2rem;
      }
    }

    span {
      margin-left: 1rem;
    }
  }
  .breader {
    margin-left: 0.8rem;
  }
}
