.rv-login-bg {
  background-image: url("/assets/images/auth-backdrop.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .rv-box-container {
    background: var(--zns-white);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.44rem 4.75rem;
    margin: 0rem auto;
  }

  .head {
    margin-bottom: 4rem;
  }

  .form-container {
    width: 100%;
  }

}
