.rv-login-bg {
  background-image: url("/assets/images/auth-backdrop.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .rv-box-container {
    background: var(--zns-white);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.44rem 4.75rem;
    margin: 0rem auto;
  }

  .head {
    margin-bottom: 0.5rem;
    .welcome {
      text-align: center;
      margin-top: 1.19rem;
    }
  }

  .form-container {
    width: 100%;
    .row {
      margin-bottom: 1.5rem;
      gap: 0.5rem;
      border-radius: 0.25rem;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.75rem;
      margin-bottom: 2rem;
      width: 100%;
    }
  }

  .forgot-password-link {
    text-decoration-line: underline;
    color: #0051ca;
  }
}

// .rv-login-bg {
//   background-image: url("/assets/images/auth-backdrop.png");
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 100%;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   box-sizing: border-box;

// .rv-box-container {
//   background: var(--zns-white);
//   border-radius: 0.75rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 4.44rem 4.75rem;
//   margin: 0rem auto;
// }

// .head{
//   margin-bottom: 0.5rem;
//   .welcome{
//     text-align: center;
//     margin-top: 1.19rem;
//   }
// }

// .form-container{
//   width: 100%;
//   .row{
//     margin-bottom: 3.5rem;
//     gap:0.5rem;
//     border-radius: 0.25rem;
//   }
// }
// }
