<section class="rv-login-bg">
  <div class="rv-box-container">
    <div class="head">
      <h1 class="zns-heading-1 fw-600 rv-head-logo">R-ventory</h1>
      <h1 class="zns-heading-5 fw-600 welcome">Welcome Back</h1>
    </div>

    <div class="form-container">
      <form [formGroup]="loginForm">
        <div class="row">
          <div class="col-12">
            <div class="input-style1 input-lg">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Username"
                formControlName="username"/>
              </mat-form-field>
            </div>
          </div>

          <div class="col-12">
            <div class="input-style1 input-lg">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Password" 
                 formControlName="password"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <button
          matRipple
          class="btn zns-btn-primary zns-btn-lg zns-btn-full"
          (click)="onSubmitForm()"
        >
          Login
        </button>
      </form>
    </div>

    <a href="#">Forgot Password?</a>
  </div>
</section>

<!-- <section class="rv-login-bg">
  <div class="rv-box-container">
    <div class="head">
      <h1 class="zns-heading-1 fw-600 rv-head-logo">R-ventory</h1>
      <h1 class="zns-heading-5 fw-600 welcome">Welcome Back</h1>
    </div>

    <div class="form-container">
      <form>
        <div class="row">
        <div class="col-12">
          <div class="input-style1 input-lg">
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Username"
                formControlName="username"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="col-12">
          <div class="input-style1 input-lg">
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Password"
                formControlName="password"
              />
            </mat-form-field>
          </div>
        </div>
        </div>
       
      </form>
       <button
        matRipple
        class="btn zns-btn-primary zns-btn-lg zns-btn-full"
        (click)="onSubmitForm()"
      >
        Login
      </button>
    </div>
     <a href="#">Forgot Password?</a>
  </div>
</section> -->
